<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite App</title>
</head>

<body>
  {% include 'components/nav.twig' %}
  <!-- hero -->
  {% include 'components/hero.twig' %}
  <!-- features cards -->
  {% include 'components/features.twig' %}
  <!-- people cards -->
  {% include 'components/people.twig' %}
  <!-- image/text section -->
  {% include 'components/services.twig' %}
  <!-- clients/logos -->
  {% include 'components/clients.twig' %}
  
  <script type="module" src="/main.js"></script>
</body>

</html>