
  <div class="container-fluid my-5">
    <div class="container text-center my-5">
      <h1>Teamwork makes the dream works</h1>
    </div>
    <div class="row">
    {% for name in ['Jessica Rabbit', 'Heli Kopter', 'Jaan Jaanistu', 'Oja Pets', 'Reanu Keeves', 'Juhan Puha'] %}
      <div class="col-2">
        <div class="card border-0">
          <img src="https://picsum.photos/seed/people{{loop.index}}/350/500?grayscale&blur=10" class="card-img-top rounded-0" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">{{ name }}</h5>
            <p class="card-text">Some quick example</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>